table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

#wrapper {
	width: 400px;
	height: 400px;
	margin: 20px auto;
}

#header {
	text-align: center;
}
button {
	padding: 10px;
	background-color: #EBEBEB;
	border:solid 1px #ADADAD;
	border-radius: 3px;
	margin: 40px ;

}

.defaultColor {
	background-color: #666;
	transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
}

.hoverColor {
	background-color: #fff;
	transition: background 0s linear;
    -webkit-transition: background 0s linear;
    -moz-transition: background 0s linear;
}
